
<!doctype html>
<html>
<head>
    <title>iBlog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
</head>
<body>
<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard"> iBlog - Dashboard</a>
    </div>
        
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
     
        
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/users/dashboard/newpost"> New Post </a></li>
         <li><a href="/users/dashboard/posts"> Posts </a></li>
      <!--  <li><a href="/users/dashboard/editprofile"> Edit Profile </a></li>-->
         <li><a href="/users/dashboard/profile"><b><%= user.name %></b></a></li>
        <li><a href="/users/logout">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

   

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h1><span class="fa fa-user"></span> <%= title %></h1>
                  
                <p> Edit Post </p>
              
                    
                       <!-- Form for new post -->
                    <form method="post" action="/dashboard/newpost"  enctype="multipart/form-data">
                      <div class="form-group">
                          <label>Title </label>
                          <input type="text" id="title" class="form-control" name="title">
                      </div>
                      <div class="form-group">
                        <label>Post Image</label>
                        <input type="file" name="image" class="form-control"> 
                      </div>
                      <div class="form-group">
                        <label>Content </label>
                        <textarea id="content" name="content"></textarea>
                      </div>
                    <button type="submit" class="btn btn-info btn-lg">Update Post </button>
                   </form> 
            </div>

        </div>

    </div>

</div>

<script type="text/javascript" src="/js/bootstrap.js"></script>
<script src="/js/jquery.min.js"></script>
</body>
</html>